[run]
branch = True
source = adventofcode

[html]
directory = reports/covhtml

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if not answer:
    if answer is None:
ignore_errors = True
omit =
    tests/*